@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Personas Page";
}

<h1>
    Hola Chaval
</h1>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>
    <tbody>
     @for(int i=0; i<1000; i++) {
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
       }
    </tbody>
</table>


@section Scripts{
    <script>$(document).ready(function ()
    {
        $('#table_id').DataTable();
    });</script>
}
